body {
    background-color: #f0eeee;
    text-align: center;
}

h1{
    margin-bottom: 40px;
}

button {
    background-color: blue;
    color: #f0eeee;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 20px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: 500;
}
button:hover{
    cursor:pointer;
}

#sketch-container {
    /*background-color: beige;*/
    border: 2px solid black;
    margin: 10px auto;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.item {
    border: 1px solid black;
    box-sizing: border-box;
    flex: 0 0 auto;
    /*with aspect ratio, we can ignore height and set only width*/
    /*aspect-ratio: 1 / 1;*/
}

.dark {
    background-color: black;
}